.buttonGroup {
  display: flex;
  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.rightAlign {
    justify-content: flex-end;
  }

  // 버튼 간격
  &.small {
    button {
      margin: 0.25rem;
    }
  }
  &.medium {
    button {
      margin: 0.5rem;
    }
  }
  &.large {
    button {
      margin: 1rem;
    }
  }
}
